<script src="{{ url_for('static',filename='assets/js/vendor-all.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/pcoded.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/dark-mode.js') }}"></script>
<!-- <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> -->

<!-- <script src="{{ url_for('static',filename='assets/js/pages/chart-morris-custom.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/pages/google-maps.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/amcharts.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/ammap.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/gauge.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/light.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/pie.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/radar.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/serial.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/usaLow.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/amchart/js/worldLow.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/bootstrap/js/popover.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/chart-morris/js/morris.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/plugins/chart-morris/js/raphael.min.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/google-maps/js/gmaps.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/google-maps/js/gmaps.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/jquery/js/jquery.min.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/jquery/js/jquery.min.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/jquery-scrollbar/js/jquery.scrollbar.min.js') }}"></script>

<script src="{{ url_for('static',filename='assets/plugins/jquery-ui/js/jquery-ui.js') }}"></script> -->








