{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="auth-wrapper">
    <form method="POST" action="/forgot-password">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">send auth link</h3>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="alert alert-{{ messages[0][0] }} alert-dismissible fade show" role="alert">
                        {{ messages[0][1] }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endwith %}
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                 

                    <button type="submit" class="btn btn-primary shadow-2 mb-4">send email</button>
                    <p class="mb-0 text-muted">Don’t have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}